# Flutter build
/build/
/.dart_tool/
.packages
.pub-cache/

# Android
/android/.gradle
/android/app/build

# iOS
/ios/Pods

# IDE files
.vscode/

# Flutter metadata
.metadata

# Optional platform folders
linux/
macos/
windows/
web/

# Logs
*.log

# Lock files
*.lock

# Secrets
lib/api_key.dart
